/*Describe how big the whole div should be and makes it centered*/
div#row2 {
    width: 80%;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
}


div#calender {
    float: left; /*Make it possible for the info div to lay next to the calender*/
    width: 200px;
    height: 200px;
}

div#info {
    width: 600px;
    height: 200px;
    margin-left: 210px; /*Makes sure that the info bar don´t end up under the calender div*/

}

div#offer {
    width: 800px;
    height: 200px;
    margin-top: 10px; /*Adds 10px space above the div*/
}

div#offer2 {
    width: 800px;
    height: 200px;
    margin-top: 10px;

}

img {
    float: right;
    padding-left: 10px; /*Add some space between text and images*/
}
