div#row2 {
    width: 80%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*Centers the pic*/
div#pic {
    width: 1010px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

div#info {
    width: 600px;
    height: 800px;
    margin-left: auto; /*This line and the one under centers the image*/
    margin-right: auto;
    margin-top: 5px; /*Adds some space between the image and div*/
}