/*Describe the size of the picture slide and centers it*/
div#pictureslide {
    width: 1010px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

div#info {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

div#booking {
    width: 30%;
    height: 400px;
    background-color: cornflowerblue;
    float: left; /*Makes it possible for divs to lay next to each other*/

}

div#row2 {
    width: 80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;

}

div#contact-info {
    margin-left: 60px;
    width: 30%;
    height: 400px;
    float: right; /*Makes the div lay to the right of the screen while having a div to its left*/

}
