div#row2 {
    width: 80%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*Describe how big the google map should be, and make it float to the left so an different div can be next to it*/
div#map {
    width: 300px;
    height: 300px;
    float: left;
}

div#info {
    margin-left: 310px;
    height: 300px;
    width: 600px;
}

div#pics {
    margin-top: 10px;
    height: 300px;
    width: 1010px;
}

div#info2 {
    margin-top: 10px;
    height: 300px;
    width: 1010px;
}

div#pic1 {
    float: left; /*Make it possible for pic2 to lay next to pic1*/
    padding-right: 5px; /*Adds some space between pic1 and 2*/
}




