body {
    background-color: black;
    background-attachment: fixed;
}

div#container {
    width: 100%;
    height: 100%;
}

div#menu {
    width: 80%;
    height: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: ;


}

a{
    padding: 5px;

}

a:hover {
    background-color: white;
}

a, a:link {
    text-decoration: none;
}