body {
    background-color: black;
    background-attachment: fixed;
}

div#container {
    width: 100%;
    height: 100%;
}

div#logo {
    margin-top: 10px;
    margin-left: 150px;
    background-color: cornflowerblue;
    width: 125px;
    height: 125px;
}

div#hotel-name {
    background-color: white;
    width: 400px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}

div#menu {
    text-align: center;
    width: 750px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;


}



.button {
    color: white;
}

a{
    padding: 5px;

}

.button:hover {
   color: dodgerblue;
}

a, a:link {
    text-decoration: none;
}