body {
    background-color: black;
    background-attachment: fixed;
}

div#container {
    width: 100%;
    height: 100%;
}

div#logo {
    margin-top: 10px;
    margin-left: 9%;
    width: 125px;
    height: 125px;
}

div#hotel-name {
    background-color: white;
    width: 400px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;

}

div#menu {
    text-align: center;
    width: 750px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*Describe the characteristics of how all the normal text should look in all html files*/
p {
    color: white; /*Decide which color the text should have*/
}




#menu a {
    color: white; /*Decide which color all text that links to another page should have*/
}

/*Describe which effect should happen when you hover the mouse over text that links to another page*/
#menu a:hover {
    color: dodgerblue; /*When you hover the text turns into to the color written in this line*/
}

a { padding: 10px; } /*Adds some space between texts that links to another page*/

a, a:link {
    text-decoration: none; /*Removes all text decoration such as lines under the text when linking to another page*/
}

h3 {
    color: cornflowerblue; /*Decide which color the titles with size h3 should have*/
}

h6 {
    color: cornflowerblue; /*Decide which color the titles with size h6 should have*/
}

li {
    color: white; /*Makes all list text white*/
}